@charset "utf-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px;
    background-image:url("../img/bg.png");
}

#main {
    min-width:960px;
    width:960px;
    max-width:960px;
    margin:20px auto;
    border:1px solid #cacaca;
    padding:1px;
    background-color:#fff;
}

nav {
    background-color:rgba(22,38,78,0.8);
    height:60px;
    line-height: 60px;
}

header {
    height:390px;
    background-image:url("../img/header.jpg");
    color:#fff;
}

h1 {
    float:left;
}

h1 img {
    padding:15px 0;
    margin-left:32px;
}

nav ul {
    float:right;
    margin-right:32px;
}

nav ul li {
    display:inline-block;
    padding-left:32px;
}

nav ul li a {
    color:#fff;
    opacity:0.7;
    text-decoration:none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    display: block;
}

nav ul li.active a {
    opacity:1;
}

nav ul li a:hover {
    opacity:1;
}

h2 {
    font-size:3.429em;
    margin-top:60px;
    margin-left:32px;
    width:530px;
    /* updated 9/20/18 */
    margin-top: 36px;
}

h3 {
    font-size:1.429em;
    margin-top:20px;
    margin-left:32px;
    margin-bottom:60px;
}

a.cta {
    font-size:1.429em;
    margin-left:160px;
    text-align:right;
    color:#16264e;
    background-color:#b6d319;
    background-color:rgba(182,211,25,0.8);
    padding:20px;
    text-decoration:none;
    border-radius:10px;
    -webkit-border-radius:10px;
    transition:all 0.2s ease;
}

a.cta:hover {
    background-color:rgba(182,211,25,1);
}

section.blockcontainer {
    height:242px;
}

section.block {
    margin-top:1px;
    padding-bottom:1px;
    width:320px;
    height:240px;
    float:left;
    background-repeat: no-repeat;
}

section.block a {
    font-size:1.429em;
    text-decoration:none;
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    background-color:rgba(22,38,78,0.8);
    height:60px;
    width:100%;
    text-align:center;
    display:block;
    line-height:60px;
    margin-top:180px;
}

section.block a:hover {
    color:rgba(255,255,255,1);
}


section.report {
    background-image:url("../img/report.jpg");
}

section.store {
    background-image:url("../img/store.jpg");
    margin-left:1px;
    margin-right:1px;
    width:318px;
}

section.gallery {
    background-image:url("../img/gallery.jpg");
}

section.latest {
    border:1px solid #cacaca;
    padding:64px 32px;
    overflow:hidden;
}

article.left {
    float:left;
    width:420px;
}

article.right {
    float:right;
    width:420px;
}

h4.latest {
    font-size:2.143em;
    color:#fff;
    margin-bottom:30px;
    background-color:#16264e;
    padding:16px;
    border-left:5px solid #b6d319;
    border-radius:5px;
    -webkit-border-radius:5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    line-height: 36px;
}

h5 {
    margin-bottom:20px;
    background-color:#16264e;
    border-radius:5px;
    -webkit-border-radius:5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    padding:10px;
    color:#fff;
    border-left:5px solid #b6d319;
    max-width:120px;
}

h6 {
    font-weight: bold;
    color:#16264e;
    text-transform: uppercase;
    margin-bottom:5px;
}

p {
    line-height:1.4em;
    color:#666;
    margin-bottom:20px;
}

a.readmore {
    float:right;
    text-decoration: none;
    font-weight: bold;
    background-color:#16264e;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px 10px;
    color:#fff;
    margin-top:15px;
    line-height: 16px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

a.readmore:hover {
    background-color:#b6d319;
}

footer {
    height:60px;
    color:#fff;
    background-color:#16264e;
    padding:0 32px;
    line-height:60px;
    margin-top:1px;
    clear:both;
}

footer a {
    float:right;
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

footer a:hover {
    color:rgba(255,255,255,1);
}